_furrow_scaffold: {{ .ScaffoldMarker }}
claim_surfaces:
  - name: TODO
    claim: TODO
    equivalence_claim: false
    surfaces:
      - name: TODO
        status: missing
        evidence_type: TODO
        evidence_path: TODO
